body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
}

.content {
    flex: 1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
body {
    margin: 0;
    padding: 0;
}


/*################## HEADER ########################################################*/

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 100px 0px;
    margin-bottom: 5%;
}


header > nav {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

header > nav > ul { 
    gap: 50px;
    display: flex;
}

header > nav > h1,
.hero-text {
    margin-left: 20%;
}


header > nav > ul,
.hero > img {
    margin-right: 20%;
}


.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text > h1 {
    font-size: 48px;
}

.hero-text {
    max-width: 300px;
}

.header-main-text {
    color: #F9FAF8;
}

.header-secondary-text {
    color: #E5E7EB;
    margin-bottom: 25px;
}


.hero > img {
    width: 500px;
    height: 200px;
}

.signUp-header {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 5px 16px;
    border-radius: 5px;
    border: 1px solid #3882F6;
}




/*################ INFORMATION CONTAINER #############################*/

.card-container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    gap : 50px;
    margin-bottom: 100px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card-image {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 1em;
}

.card-text {
    font-size: 18px;
    max-width: 150px;
    color: #646D79;
}

/*################ Quote #############################*/

.quote-container {
    padding : 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #646D79;
    font-style: italic;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-quote {
   
    display: flex;
    flex-direction: column;
    max-width: 800px;
}


.quote-person {
    align-self: flex-end;
    color: #1F2937;
}

/*################ Sign up #############################*/

.signUp-container {
    color: #E5E7EB;
   padding: 120px 0px ;
   display: flex;
   justify-content: center;
   align-items: center;
}


.signUp-card {
    padding: 45px 120px;
    border-radius: 5px;
    background-color: #3882F6;
    display: flex;
    gap: 200px; 
}

#signUp-button {
    color: #E5E7EB;
    align-self: center;
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3882F6;
}


/*################ Footer #############################*/

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
    display: flex;
    justify-content: center;
}